@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;700&display=swap');

:root {
  --mobile-width: 375px;
  --desktop-width: 1440px;

  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);

  --fs-base: 1.125rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Epilogue';
  font-size: var(--fs-base);
}

header {
  display: flex;
  justify-content: space-between;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  letter-spacing: -0.5px;
  font-size: 2.25rem;
}

.login {
  display: none;
}

nav {
  background-color: var(--almost-white);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

nav li {
  display: flex;
}

nav img {
  display: inline-block;
}

nav li ul {
  display: none;
}

main {
  text-align: center;
}

header {
  --vertical-spacer: 1rem;
  padding-block: var(--vertical-spacer, 1rem);
}

.container {
  --vertical-spacer: 1rem;
  max-width: 90%;
  margin: var(--vertical-spacer) auto;
}

.col {
  padding-block: 1.5rem;
}

.col > * + * {
  margin-top: 1rem;
}

.clients {
  --vertical-spacer: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--vertical-spacer);
  margin: var(--vertical-spacer) auto;
}

.client-item {
  width: 20%;
}

.body-text {
  color: hsla(0, 0%, 41%, 1);
  line-height: 1.625;
  font-weight: 400;
}

.btn {
  --bg-color: black;
  --color: white;
  display: inline-block;
  background-color: var(--bg-color);
  color: var(--color);
  text-decoration: none;
  padding: 1em 2em;
  border-radius: 15px;
}
