@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@600;700&display=swap');

:root {
  --mobile-width: 375px;
  --desktop-width: 1440px;

  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);

  --fs-base: 1.125rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Epilogue';
  font-size: var(--fs-base);
}
