@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;700&display=swap');

:root {
  --mobile-width: 375px;
  --desktop-width: 1440px;

  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);

  --fs-base: 1.125rem;

  --step--2: clamp(1.56rem, calc(0.97rem + 2.78vw), 3.47rem);
  --step--1: clamp(1.88rem, calc(1.17rem + 3.33vw), 4.17rem);
  --step-0: clamp(2.25rem, calc(1.4rem + 4vw), 5rem);
  --step-1: clamp(2.7rem, calc(1.68rem + 4.8vw), 6rem);
  --step-2: clamp(7.2rem, calc(2.02rem + 5.76vw), 3.24rem);
  --step-3: clamp(8.64rem, calc(2.42rem + 6.91vw), 3.89rem);
  --step-4: clamp(10.37rem, calc(2.9rem + 8.29vw), 4.67rem);
  --step-5: clamp(12.44rem, calc(3.48rem + 9.95vw), 5.6rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid crimson; */
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Epilogue';
  font-size: var(--fs-base);
}

header {
  display: flex;
  justify-content: space-between;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  letter-spacing: -0.5px;
  font-size: var(--step-0);
}

main {
  text-align: center;
}

header {
  --vertical-spacer: 1rem;
  padding-block: var(--vertical-spacer, 1rem);
  padding-inline: 5vw;
}

.container {
  --vertical-spacer: 1rem;
  max-width: 90%;
  margin: var(--vertical-spacer) auto;
}

.col {
  padding-block: 1.5rem;
}

.col > * + * {
  margin-top: 1rem;
}

.hero__img {
  object-fit: contain;
}

@media (min-width: 700px) {
  .columns {
    display: flex;
    padding-inline: 5vw;
    align-items: center;
  }

  .hero {
    order: 1;
  }
}

.clients {
  --vertical-spacer: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--vertical-spacer);
  margin: var(--vertical-spacer) auto;
}

.client-item {
  width: 100%;
  display: grid;
  place-content: center;
}

.body-text {
  color: hsla(0, 0%, 41%, 1);
  line-height: 1.625;
  font-weight: 400;
  font-size: clamp(1rem, 2vw + 1rem, 1.125rem);
}

.btn {
  --bg-color: black;
  --color: white;
  display: inline-block;
  background-color: var(--bg-color);
  color: var(--color);
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid currentColor;
  border-radius: 15px;
  transition: color 200ms ease-in, background-color 200ms ease-in;
}

.btn:hover {
  background-color: var(--color);
  color: var(--bg-color);
}

/* Nav */
.login {
  display: none;
}

.login a {
  color: var(--medium-gray);
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 14px;
  padding: 0.5em 1em;
  font-size: 0.875rem;
}

.login a:hover,
.login a:active {
  border: 1px solid currentColor;
}

nav {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  animation: fadeIn 300ms ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav.open {
  display: revert;
}

.menu-toggle {
  cursor: pointer;
}

.nav__inner {
  background-color: var(--almost-white);
  position: absolute;
  right: 100%;
  width: 60%;
  height: 100%;
  animation: slideInFromRight 700ms cubic-bezier(0.17, 0.67, 0.56, 1.48);
}

@keyframes slideInFromRight {
  0% {
    right: 100%;
  }
  70% {
    right: -10%;
  }
  100% {
    right: 0;
  }
}

nav.open .nav__inner {
  right: 0;
}

nav li {
  display: flex;
  margin-bottom: 1rem;
  width: fit-content;
}

nav a {
  color: var(--medium-gray);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  color: var(--medium-gray);
  line-height: 2rem;
}

nav a:hover {
  color: black;
}

nav li[data-sub] .sub-menu {
  display: none;
}

nav li[data-sub].expanded {
  flex-direction: column;
}

nav li[data-sub].expanded .sub-menu {
  display: block;
  margin-top: 1rem;
}

.close-btn--container {
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  padding: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: fit-content;
}

a img {
  pointer-events: none;
}

@media (min-width: 700px) {
  header {
    align-items: center;
    gap: 1rem;
  }

  nav {
    display: block;
    position: static;
    background-color: transparent;
    animation: none;
    color: black;
  }

  .nav__inner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    background: none;
    position: static;
  }

  .nav__inner ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .nav__inner li {
    margin-bottom: 0;
  }

  .close-btn--container {
    display: none;
  }

  .menu-toggle {
    display: none;
  }

  .login {
    display: flex;
    gap: 1rem;
  }

  .container {
    --vertical-spacer: 2rem;
    max-width: var(--desktop-width);
  }

  .col {
    text-align: left;
    margin-right: 5vw;
  }

  .columns {
    max-width: 1440px;
    margin: 0 auto;
  }

  nav li[data-sub].expanded {
    position: relative;
  }

  nav li[data-sub].expanded > .sub-menu {
    background-color: white;
    position: absolute;
    display: block;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
    border-radius: 10px;
    top: 1rem;
    right: 0;
    padding: 1.75rem;
  }
}

@media (min-width: 1440px) {
  .clients {
    max-width: 1440px;
    margin: 0 auto;
    margin-left: 5%;
    margin-top: -5rem;
    justify-content: flex-start;
  }

  .client-item {
    width: 10%;
  }
}
